{%extends "layout.html"%}

{%block head%}
Ecom
{%endblock%}

{%block body%}
<div class="container">
  <div class="box">
    <form action="{{url_for('api')}}" method="post">
      <h2>Search Product</h2>
      <div>
        <label for="category">Item category</label>
        <select id="category" name="Category-Options" placeholder="Part Category">
          <option value="Laptops">Laptop</option>
          <option value="Mobiles">Mobile</option>
          <option value="Tablets">Tablet</option>
        </select>
      </div>
      <div>
        <label>Item Name</label>
        <input type="text" id="name" name="partname" placeholder="Part Name" autocomplete="off">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>

{% if error_message %}
<script>
    alert("{{ error_message }}");
</script>
{% endif %}

{%endblock%}