<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='code.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap"
      rel="stylesheet">
    <title>{%block head%}{%endblock%}</title>
  </head>
  <body>
    <div>
      {%block body%}
      <!-- Your content goes here -->
      {%endblock%}
    </div>
  </body>
</html>